@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap');

$font-family: 'Archivo', sans-serif;

$dark-color: #252946;

.hc-base-widget {
  min-width: 160px;
  max-width: 545px;
  max-height: 160px;
  background: white;
  display: inline-grid;
  gap: 12px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 6px;
  font-family: $font-family;
  border: 1px solid transparent;
  padding: 22px 16px;
  position: relative;

  grid-template-areas: "a b c";
  grid-template-columns: auto auto auto;

  &--dark {
    background: $dark-color;
    border: 1px solid transparent;
  }

  &--small {
    flex-wrap: wrap;
    grid-template-areas:
            "a a"
            "b c";
    grid-template-columns: auto auto;
  }

  &--left {
    flex-wrap: wrap;
    grid-template-areas:
            "a"
            "b"
            "c";
    grid-template-columns: 1fr;
  }

  &__logo-container {
    display: block;
    height: 36px;
    width: auto;
    min-width: 110px;
    grid-area: a;

    &--small {
      width: 100%;
      text-align: center;
    }

    &--left {
      text-align: left;
    }
  }

  &__logo {
    height: 36px;
  }

  &__star-container {
    display: flex;
    gap: 4px;
    width: auto;
    font-family: $font-family !important;
    grid-area: b;

    &--small {
      width: 100%;
    }

    &--left {
      justify-content: flex-start;
    }
  }

  &__star-background {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background: $dark-color;
    border-radius: 4px;

    &--dark {
      background: white;
    }
  }

  &__star {
    width: 24px;
    height: 24px;
  }

  &__review-container {
    width: auto;
    height: 20px;
    display: flex;
    grid-area: c;
    gap: 4px;
    font-family: $font-family !important;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;

    &--small {
      width: 100%;
    }

    &--left {
      justify-content: flex-start;
    }
  }

  &__rating {
    font-size: 16px !important;
    color: $dark-color;
    font-weight: 600;

    &--dark {
      color: white;
    }
  }

  &__separator {
    color: $dark-color !important;

    &--dark {
      color: white !important;
    }
  }

  &__review {
    text-decoration: none !important;
    color: $dark-color !important;
    font-size: 16px !important;

    &--dark {
      color: white !important;
    }
  }
}
